* {
  margin: 0%;
  padding: 0%;
}
html, body{
  height: 100%;
  width: 100%;
}
.homePage{
  height: 100vh;
  width: 100vw;
}
 .header{
  max-height: max-content;
  max-width: 100%;
}
.header Link{
  text-decoration: none;
}
 .body{
  /* 140vh earlier */
  height: max-content; 
  width: 100%;
}
 .header img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.header Button{
  margin: 5px;
}
.header .dashboardButton{
  color: black;
}
.heroSection{
  padding: 10px;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heroSection .headingContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection .headingContainer .heading{
  font-size: 2.5rem;
  font-weight: bold;
}
.headingContainer .subheading{
  font-size: 1.5rem;
  margin-top: 10px;
}
.heroSection .front-image{
  width: 100%;
  height: 100%;
}
.heroSection .front-image img{
  height: 400px;
  width: 100%;
}
.featuredJobsCatg{
  padding: 10px;
  margin-top: 40px;
  height: max-content;
}
.featuredJobsCatg .heading{
  text-align: center;
  font-weight:900;
  font-size: 2rem;
}
.featuredJobsCatg .jobCatCardsContainer{
  margin-top: 40px;
}
.featuredJobsCatg .jobCatCardsContainer .jobCatCard{
  transition: transform 0.1s ease-in-out;
}
.featuredJobsCatg .jobCatCardsContainer .jobCatCard:hover{
  transform: scale(1.12);
}

.featuredCompanies{
  padding: 10px;
  margin-top: 40px;
  height: max-content;
}

.featuredCompanies .heading{
  text-align: center;
  font-weight:900;
  font-size: 2rem;
}
.featuredCompanies .companiesContainer .CompanyCard{
  margin-top: 40px;
  width: 20vw;
  height: 20vh;
}

.footer{
  margin-top: 40px;
}

.candidatePage{
  height: 100vh;
  width: 100vw;
}
.candidatePage .header{
  max-height: max-content;
  max-width: 100%;
}
.candidatePage .body{
  height: 140vh;
  width: 100%;
}
.candidatePage .header img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.header Button{
  margin: 5px;
}


.jobsPage{
  height: 100vh;
  width: 100vw;
}
.jobsPage .header{
  max-height: max-content;
  max-width: 100%;
}
.jobsPage .body{
  height: 120vh;
  width: 100%;
}
.jobsPage .header img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.employerPage .body img{
  height: 300px;
  width: 500px;
}
.employerPage .body{
  height: max-content;
}

/* For the job cards */
.job-card {
  border: 1px solid #ddd; 
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.job-card .card-body {
  padding: 20px;
}

.job-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.job-card .card-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.job-card .card-text {
  font-size: 1rem;
  color: #495057;
}

